<html>
<!-- <head>
    <meta charset="utf-8" />
    <link rel="stylesheets" href="css/style.css">
</head> -->
<body>

<h1> My Blog </h1>

<ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Articles</a></li>
    <li><a href="#">Pictures</a></li>
    <li><a href="#">About</a></li>
</ul>

</body>
</html>
